<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список точек продаж</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container-xxl">
    <h3>Весь список точек продаж:</h3>
    <table class="table table-hover" th:if="${shopPoints}">
        <thead>
        <tr>
            <th>№</th>
            <th>Город</th>
            <th>Адрес</th>
            <th>Адрес для системы</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shopPoint, iterStat : ${shopPoints}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${shopPoint.city}">
            <td th:text="${shopPoint.address}">
            <td th:text="${shopPoint.addressForSystem}">
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
